Makefile
Makefile.Release
Makefile.Debug
/build/
/debug/
/release/
/.qtc_clangd/
*.pro.user
./msvc_make.bat
*.stash
data/CISCamera_Image/
data/debug/
data/CISCamera_Image/
data/log/
*.pro.user.*
src/rail/PLCCode/Temp/
*.bmp
*.png
*.jpg
*.pyc
*.idea/
